/*Global*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

p{
  line-height: 1.5;
}

h2{
  margin-bottom: 20px;
  margin-top: 20px;
}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}


/*Header*/
.site-init {
  background-image: url(../imgs/header.jpg);
  background-size: cover;
  border-bottom: 1px solid #eee;
  height: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.site-init nav a {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.site-init p{
  margin-top: 10px;
}

.bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  width: 100%;
}

@media (max-width: 768px){
  .bar{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*utilities*/
.container{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.container-house-items {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}


.container-house-items .house-item{
  margin-right: 20px;
}

.container h2{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}



@media (max-width: 768px){
  .container-house-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px){
  .container{
    width: 90%;
  }
}


/*Home-view*/
.section-1{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.more-about-item{
  padding: 10px;
  border: 1px solid #eee;
  margin-right: 20px;
}

.more-about-item img{
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.more-about-item h3{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.more-about-item p{
  text-align: center;
}

@media (max-width: 768px){
  .section-1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .more-about-item{
    margin-bottom: 20px;
  }
}

/*house item view*/
.house-item {
  border: 1px solid #eee;
  padding: 20px;
  max-width: 300px;
  margin: auto;
  background-color: #ffffff;
}

.house-img img {
  width: 100%;
  display: block;
}

.house-text {
  padding: 10px 0;
}

.const-house {
  padding: 2px 0;
  color: rgb(1, 155, 9);
}

.house-icons {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.house-icons li {
  margin: 10px 5px;
  display: flex;
}

.house-icons li p{
  margin-left: 20px;
  display: flex;
}

.btn-details{
  background-color: rgb(255, 136, 0);
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  width: auto;
  display: block;
  font-size: 16px;
  cursor: pointer;
  margin: 20px auto 0;
  margin-bottom: 30px;
  margin-top: 20px;
}


/*house item view*/
.site-footer{
  background-image: url(../imgs/highlight.jpg);
  background-size: cover;
  border-bottom: 1px solid #eee;
  height: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.site-footer p{
  margin-top: 10px;
}

.footer-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
}

.site-footer a {
  width: 100%;
}


/*Contact header view*/
.header-contact{
  background-color: black;
  background-size: cover;
  border-bottom: 1px solid #eee;
  height:100px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.header-contact a {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

/*Contact view*/
fieldset{
  padding: 20px;
}

legend{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.input-container{
  padding: 10px;
}

.input-container label{
  display: inline-block;
  width: 180px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.input-container input,
.input-container textarea{
  background-color: lightgrey;
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 70%;
}


.input-container select {
  background-color: lightgrey;
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 74%;
}

.input-container input[type="radio"] {
  margin-right: 5px;
}

.input-container input[type="date"],
.input-container input[type="time"] {
  background-color: lightgrey;
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 68%;
}

.input-phone-email{
  display: flex;
  justify-content: flex-start;
}

.button-send{
  margin-top: 20px;
  background-color: rgb(0, 148, 109);
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  text-align: center;
  cursor: pointer;

}