/*Global*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

p{
  line-height: 1.5;
}

h2{
  margin-bottom: 20px;
  margin-top: 20px;
}

a{
  text-decoration: none;
  color: rgb(255, 249, 249);
}


/*Header*/
.site-init {
  background-image: url(../imgs/header.jpg);
  background-size: cover;
  border-bottom: 1px solid #eee;
  height: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.site-init nav a {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.site-init p{
  margin-top: 10px;
}

.bar{
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  width: 100%;
}


/*utilities*/
.container{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.container-house-items{
  display: flex;
  width: 70%;
  align-items: center;
}

.container-house-items .house-item{
  margin-right: 20px;
}


.container h2{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}


/*Home-view*/
.section-1{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.more-about-item{
  padding: 10px;
  border: 1px solid #eee;
  margin-right: 20px;
}

.more-about-item img{
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.more-about-item h3{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.more-about-item p{
  text-align: center;
}


/*house item view*/
.house-item {
  border: 1px solid #eee;
  padding: 20px;
  max-width: 300px;
  margin: auto;
  background-color: #ffffff;
}

.house-img img {
  width: 100%;
  display: block;
}

.house-text {
  padding: 10px 0;
}

.const-house {
  padding: 2px 0;
  color: rgb(1, 155, 9);
}

.house-icons {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.house-icons li {
  margin: 10px 5px;
  display: flex;
}

.house-icons li p{
  margin-left: 20px;
  display: flex;
}

.btn-details{
  background-color: rgb(255, 136, 0);
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  width: auto;
  display: block;
  font-size: 16px;
  cursor: pointer;
  margin: 20px auto 0;
  margin-bottom: 30px;
  margin-top: 20px;
}
